@font-face {
  font-family: 'Bauhaus 93 Remastered';
  src: url('./assets/fonts/Bauhaus93Remastered-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Palui SP Demo';
  src: url('./assets/fonts/PaluiSPDemo-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  font-family: var(--font-interface);
  color: #ffffff;
  background: #050505;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --font-interface:
    'Palui SP Demo',
    'Bauhaus 93 Remastered',
    sans-serif;
  --font-symbols:
    'Bauhaus 93 Remastered',
    sans-serif;
}

html,
body,
button,

a {
  font: inherit;
}

#root {
  width: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  overflow-x: hidden;
  background: #050505;
}

#root {
  min-height: 100vh;
}